#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  font-size: 13px;
}

.octocat {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%0Aaria-label='GitHub' role='img'%0AviewBox='0 0 512 512'%3E%3Cpath%0Ad='m0 0H512V512H0'%0Afill='%23000000'/%3E%3Cpath fill='%23fff' d='M335 499c14 0 12 17 12 17H165s-2-17 12-17c13 0 16-6 16-12l-1-44c-71 16-86-34-86-34-12-30-28-37-28-37-24-16 1-16 1-16 26 2 40 26 40 26 22 39 59 28 74 22 2-17 9-28 16-35-57-6-116-28-116-126 0-28 10-51 26-69-3-6-11-32 3-67 0 0 21-7 70 26 42-12 86-12 128 0 49-33 70-26 70-26 14 35 6 61 3 67 16 18 26 41 26 69 0 98-60 120-117 126 10 8 18 24 18 48l-1 70c0 6 3 12 16 12z'/%3E%3C/svg%3E");
  width: 20px;
  height: 20px;
  display: inline-block;
}

.noteColor_0_colors {
  background-color: red;
}

.noteColor_1_colors {
  background-color: rgb(130, 0, 0);
  box-shadow: 0 0 3px maroon, 0 0 6px maroon;
}

.noteColor_1_colors:after, .noteColor_1_shapes:after {
  content: ''; /* Required for :after to work */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px; /* Size of the dot */
  height: 2px; /* Size of the dot */
  background-color: white; /* Color of the dot */
  border-radius: 50%; /* Makes the dot circular */
  transform: translate(-50%, -50%); /* Centers the dot */
}

.noteColor_2_colors {
  background-color: #fa71da;
}

.noteColor_3_colors {
  background-color: #fffd37;
}

.noteColor_4_colors {
  background-color: #00ff59;
  box-shadow: 0 0 3px #00ff59, 0 0 6px #00ff59;
}

.noteColor_5_colors {
  background-color:  #00d5ff;
}

.noteColor_6_colors {
  background-color: gray;
  box-shadow: 0 0 3px gray, 0 0 6px gray;
}

.noteColor_7_colors {
  background-color: rgb(12, 12, 252);
}

.noteColor_8_colors {
  background-color: #fe6412;
}

.noteColor_9_colors {
  background-color: #007000;
}

.noteColor_9_colors:after, .noteColor_5_colors:after, .noteColor_8_colors:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: black;
  transform: translate(-50%, -50%);
}

.noteColor_10_colors {
  background-color: #925601;
  box-shadow: 0 0 3px #925601, 0 0 6px #925601;
}

.noteColor_11_colors {
  background-color: #a000ff;
  box-shadow: 0 0 3px #a000ff, 0 0 6px #a000ff;
}
